.Accordion {
	
	&__Panel {
		display: flex;
		flex-direction: column;
		margin-bottom: 2px;
	}
	
	&__Trigger {
		width: 100%;
		font-size: 18px;
		background-color: #DDD;
		color: #444;
		cursor: pointer;
		display: flex;
		align-items: center;
		border: none;
		outline: none;
		transition: background-color 0.6s ease;
		padding: 15px;
		text-align: left;
		
		&:hover,
		.active {
			background-color: #CCC;
		}
	}

	&__Icon {
		margin-left: auto;
		transition: transform 0.6s ease;
		
		&--rotate {
			transform: rotate(90deg);
		}
	}

	&__Body {
		background-color: #EEE;
		overflow: hidden;
		will-change: height;
		transition: height .4s cubic-bezier(.65, .05, .36, 1);

		&--collapsed {
			overflow: hidden;
			max-height: 0;
		}
	}

	&__Text {
		font-weight: 400;
		font-size: 14px;
		padding: 15px;
		opacity: 0;
		transition: opacity .3s linear .18s;
	}

	[aria-expanded="true"] {
		.Accordion__Text {
			opacity: 1;
		}
	}
}